*{
  margin: 0;
  border: 0;
}
body{
    background-color: #2b2e4a;

}
form{
  display: inline;
  justify-content:center;
  border: 20%;
  width: 90%;
  height: 80px;
  border-radius: 10px;
  background-color: #DA0037;
  margin-left: 2%;
  margin-top: 3px;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  font-size: 0.5rem;
  font-weight: 700;
  text-align: center;
}
.col-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 20%;
  width: 95%;
  height: 80px;
  border-radius: 10px;
  background-color: #DA0037;
  margin-left: 2%;
  margin-top: 3px;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  font-size: 0.5rem;
  font-weight: 700;
}
.c_form{
  display: flex;
    flex-flow: row;
    align-items: center;
    background-color: blue;
    justify-content:center;
    position: absolute;
    width: 52%;
    top: 9%;
    left: 3%;
    height: 30px;
    margin-left: 35%;
    margin-top: 1px;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: center;
}

.c_form label {
  margin: 10px 1px 6px 1px;
  font-size:0.8rem;
  display: inline;
  width: 20%;
  color: white;
}
.c_form input[type='submit'] {
  width:20%;
  background-color:  #DA0037;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding:4px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.c_form input[type='date'] {
  width:65%;
  background-color:  #DA0037;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding:4px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.col-2{
  justify-content: flex-start;
  border: 20%;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  background-color: #171717;
  margin-left: 1%;
  margin-top: 20px;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 2px;
}
.col-2 h3{
  text-decoration: none;
  color: white;
}
.col-3 a{
  text-decoration: none;
  color: white;
  text-align: center;
}
.col-3 a{
  text-decoration: none;
  color: white;
  text-align: center;
}
.col-3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  border: 20%;
  width: 75%;
  height: 60px;
  border-radius: 10px;
  background-color: #171717;
  margin-left: 2%;
  margin-top: 5px;
  letter-spacing: 0.1rem;
  font-size: .8rem;
  font-weight: 700;
}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 20%;
  border-radius: 20px;
  background-color: #DA0037;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;
}
.main-2{
    background-color: #171717;
    padding: 0.5rem;
    border-radius: 20px;
    margin: 20px;
    margin-right: 5px;
    width: 13%;
    text-align: left;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    height: 20%;
    color: white;
}
.main-2 img{
  width: 60%;
  height: auto;

}
.main-2 h3{
  width: 1em;
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  font-weight:bold;
  padding: 10px;
  letter-spacing: 0.1rem;
  font-size: .9rem;
  font-weight: 900;
}
.main-3{
  flex-grow: 2;
  border-left: 30px;
  border-right: 60px;
  border-radius: 20px;
  background-color: #fff5fd;
  padding: 1rem;
  margin: 20px;
  margin-left: 0.5px;


}
.main-3 h5{
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}
.main-3 h2{
  position: absolute;
  right: 70px;
  top: 80px;
  border: 2px;
  border-radius: 5px;
  background-color: #d8e3e7;
  padding: 7px;
  padding-left: 22px;
  font-size: 15px;
  letter-spacing: 0.1rem;
  font-weight: 900;
}
.main-3 h3{
  margin-bottom: 10px;

}
table{
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
thead{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #FEF7DC;
  box-shadow: 0 4px 5px #FAEBE0;

}
th{
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  table-layout: fixed;
  width: 2%;

}
td{
  padding: 0.90rem;
  text-align:justify;
  table-layout: fixed;
  width: 10%;
  margin-bottom: 2em;
  text-align:center;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;
}
td a{
  text-decoration: none;
  color: blue;
}
tr:nth-child(even){
  background-color: #E8F6EF;
}
